body {
    padding-top: 5rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

h1 {
    color: #343940;
}

h2 {
    color: #343940;
}

span.email {
    text-decoration: underline;
}
